<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <header class="header py-4">
        <div class="container">
            <div class="row">
                <div class="col-3 left-header">
                    <a href="../layout/index.html">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                </div>
                <div class="col-6 center-header">
                    <div class="workink-hours">
                        <li><span>Giờ làm việc :Từ 08h00 đến 17h00 (trừ thứ Bảy và Chủ Nhật)</span></li>
                    </div>
                    <div class="contact-header">
                        <a href="">
                            <i class="fa-sharp fa-solid fa-phone"></i>
                            <span>Hotline: <strong>0221.627.0234</strong></span>
                        </a>
                        <a href="" style="margin-left: 10px;">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Email: <strong>info@megavet.com.vn</strong></span>
                        </a>
                    </div>
                </div>
                <div class="col-3 right-header">
                    <a href="">
                        <strong>Tư vấn trực tiếp</strong>
                        <i class="fa-solid fa-headset"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">
            <ul class="ul-navbar">
                <li class="li-navbar">
                    <a href="./index.html">
                        Trang chủ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="../layout/introduce.html">
                        giới thiệu
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        sản phẩm
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="">
                                vaccine
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Vaccine sống nhược độc, đông khô
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Vaccine bất hoạt nhũ dầu
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Thuốc kháng sinh và thuốc bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dung dịch tiêm
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng bột hòa tan
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng dung dịch uống
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh trộn thức ăn
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc trị cầu trùng, ký sinh trùng
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Kháng sinh thực vật và chiết xuất thực vật
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng dung dịch
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng bột
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ sung thức ăn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Hạ sốt,giảm đau,xử lý môi trường
                            </a>
                        </li>
                        <li class="li-child">
                            <a href="">
                                dùng trong thuỷ sản
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Chế phẩm xử lý môi trường và chăm sóc ao nuôi
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child border-0">
                            <a href="">
                                dùng trong gia súc nhai lại
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm vắc xin
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm hỗ trợ sinh sản
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm chăm sóc bầu vú
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm điều trị chân móng, bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="./cam-nang-chan-nuoi.html">
                        cẩm nang chăn nuôi
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./news.html">
                        tin tức
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="./news.html">
                                Tin nội bộ
                            </a>
                        </li>
                        <li class="li-child border-0">
                            <a href="./news.html">
                                Tin tức thị trường
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="">
                        tuyển dụng
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./contact.html">
                        Liên hệ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="breadcrumb-product py-3">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html"><i
                                class="fa-sharp fa-solid fa-house-chimney"></i> Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="contact pb-5">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="left-contact">
                        <div class="card p-4">
                            <h3>Nhập thông tin liên hệ</h3>
                            <form class="mt-3">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Họ và tên">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Số điện thoại">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Email của bạn">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        placeholder="Lời nhắn"></textarea>
                                </div>
                            </form>
                            <button class="btn btn-green text-center">Gửi yêu cầu</button>
                        </div>
                    </div>
                </div>
                <div class="col-7 right-contact">
                    <h3 class="mb-4">Hãy để chúng toi được<br> đồng hành cùng quý khách</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29764.44789902419!2d105.63668936862793!3d21.17006132245055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134f91c72961b59%3A0xa1efb6661905ae6a!2zQ2h1IFBoYW4sIE3DqiBMaW5oLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1724746671986!5m2!1svi!2s"
                        width="700" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>







    <footer class="footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <a href="../layout/index.html" class="img-footer">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                    <div class="contact-footer mt-4">
                        <h3>Liên hệ</h3>
                        <p><strong>Trụ sở:</strong>Tầng 3, số 136 Kim Ngưu, Phường Thanh Nhàn, Quận Hai Bà Trưng, Hà
                            Nội
                        </p>
                        <p><strong>VPGD + Kho vận:</strong>Đường D1, KCN Yên Mỹ 2, TT Yên Mỹ, Hưng Yên
                            Tel: 0221 627 0234</p>
                        <p><strong>CN Miền Nam:</strong>B26 Ấp Thanh Hóa, X. Hố Nai 3, H.Trảng Bom, T.Đồng Nai Tel:
                            0251
                            0368 0954</p>
                        <p><strong>EMAIL:</strong>info@megavet.com.vn</p>
                    </div>
                </div>
                <div class="col-4 center-footer">
                    <h3 class="mb-3">cẩm nang phòng bệnh</h3>
                    <ul class="ul-footer">
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thú cảnh
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia cầm
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia súc
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho Heo - Lợn
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thủy hải sản
                            </a>
                        </li>
                    </ul>
                    <div class="network mt-5">
                        <h3 class="mb-3">Mạng xã hội</h3>
                        <div class="icon-network">
                            <a href="" class="icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h3>fanpage</h3>
                    <div class="embed-responsive mt-3">
                        <div class="fb-page" data-href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                            data-tabs="" data-width="500" data-small-header="false" data-adapt-container-width="true"
                            data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                                class="fb-xfbml-parse-ignore">
                                <a
                                    href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page">https://www.facebook.com/Megavet.vietnam/?ref=embed_page</a>
                            </blockquote>
                        </div>
                    </div>
                    <div class="input-group mt-5">
                        <p>Để lại email để nhận thông báo và khuyến mãi mới nhất từ chúng tôi</p>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control input-text" placeholder="Email của bạn...">
                            <button type="submit" class="button-input">
                                <i class="fa-regular fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bot-footer">
                <p>© 2023 Megavet - Designed by Vico Group</p>
            </div>
        </div>
    </footer>












    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0"
        nonce="PFzVBSAR"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>