<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <header class="header py-4">
        <div class="container">
            <div class="row">
                <div class="col-3 left-header">
                    <a href="../layout/index.html">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                </div>
                <div class="col-6 center-header">
                    <div class="workink-hours">
                        <li><span>Giờ làm việc :Từ 08h00 đến 17h00 (trừ thứ Bảy và Chủ Nhật)</span></li>
                    </div>
                    <div class="contact-header">
                        <a href="">
                            <i class="fa-sharp fa-solid fa-phone"></i>
                            <span>Hotline: <strong>0221.627.0234</strong></span>
                        </a>
                        <a href="" style="margin-left: 10px;">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Email: <strong>info@megavet.com.vn</strong></span>
                        </a>
                    </div>
                </div>
                <div class="col-3 right-header">
                    <a href="">
                        <strong>Tư vấn trực tiếp</strong>
                        <i class="fa-solid fa-headset"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">
            <ul class="ul-navbar">
                <li class="li-navbar">
                    <a href="./index.html">
                        Trang chủ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="../layout/introduce.html">
                        giới thiệu
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        sản phẩm
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="">
                                vaccine
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Vaccine sống nhược độc, đông khô
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Vaccine bất hoạt nhũ dầu
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Thuốc kháng sinh và thuốc bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dung dịch tiêm
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng bột hòa tan
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng dung dịch uống
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh trộn thức ăn
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc trị cầu trùng, ký sinh trùng
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Kháng sinh thực vật và chiết xuất thực vật
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng dung dịch
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng bột
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ sung thức ăn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Hạ sốt,giảm đau,xử lý môi trường
                            </a>
                        </li>
                        <li class="li-child">
                            <a href="">
                                dùng trong thuỷ sản
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Chế phẩm xử lý môi trường và chăm sóc ao nuôi
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child border-0">
                            <a href="">
                                dùng trong gia súc nhai lại
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm vắc xin
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm hỗ trợ sinh sản
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm chăm sóc bầu vú
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm điều trị chân móng, bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="./cam-nang-chan-nuoi.html">
                        cẩm nang chăn nuôi
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./news.html">
                        tin tức
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="./news.html">
                                Tin nội bộ
                            </a>
                        </li>
                        <li class="li-child border-0">
                            <a href="./news.html">
                                Tin tức thị trường
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="">
                        tuyển dụng
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./contact.html">
                        Liên hệ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="breadcrumb-product py-3">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html"><i
                                class="fa-sharp fa-solid fa-house-chimney"></i> Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                    <li class="breadcrumb-item active" aria-current="page">Những phương pháp hiệu quả trong nuôi dưỡng
                        gia súc để tăng cường năng suất</li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="main-detail-new pb-5">
        <div class="container">
            <div class="item-detail">
                <h2 class="mb-4">Những phương pháp hiệu quả trong nuôi dưỡng gia
                    <br>súc để tăng cường năng suất
                </h2>
                <h4 class="mb-4">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn
                    trang phục vụ
                    cho
                    in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm
                    1500,
                    khi một họa sĩ vô danh ghép nhiều đoạn văn bản với<strong> nhau để tạo thành một bản mẫu</strong>
                </h4>
                <p class="mb-4">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn
                    trang phục vụ
                    cho
                    in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm
                    1500,
                    khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản mẫu văn bản. Đoạn văn
                    bản
                    này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học văn phòng, nội dung của nó
                    vẫn
                    không hề bị thay đổi. Nó đã được phổ biến trong những năm 1960 nhờ việc bán những bản giấy Letraset
                    in
                    những đoạn Lorem Ipsum, và gần đây hơn, được sử dụng trong các ứng dụng dàn trang.</p>
                <h3 class="mb-3">VÌ SAO BẠN NÊN QUAN TÂM SẢN PHẨM NÀY</h3>
                <p class="mb-4">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn
                    trang phục vụ
                    cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những
                    năm 1500, khi một họa sĩ vô danh ghép nhiều đoạn văn bản với nhau để tạo thành một bản mẫu văn bản.
                    Đoạn văn bản này không những đã tồn tại năm thế kỉ, mà khi được áp dụng vào tin học văn phòng, nội
                    dung của nó vẫn không hề bị thay đổi.</p>
                <img src="../img/Rectangle 328.png" alt="">
            </div>
        </div>
    </div>


    <div class="about-detail-new py-5">
        <div class="container">
            <div class="title-hot pd-5">
                câu hỏi thường gặp
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="left-about">
                        <div class="title-about">
                            <span>Hỏi</span>
                        </div>
                    </div>
                    <div class="accordion accordion-flush mt-4" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    <i class="fa-sharp fa-solid fa-circle-question"></i>
                                    Làm thế nào để chăm sóc sức khỏe động vật một cách hiệu quả?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Tôi nên làm gì khi thú cưng của tôi bị bệnh?</div>
                                <div class="accordion-body">Làm thế nào để kiểm tra sức khỏe của thú cưng tại nhà?</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    <i class="fa-sharp fa-solid fa-circle-question"></i>
                                    Sản phẩm nào chăm sóc sức khỏe động vật phổ biến?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Tôi nên làm gì khi thú cưng của tôi bị bệnh?</div>
                                <div class="accordion-body">Làm thế nào để kiểm tra sức khỏe của thú cưng tại nhà?</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <i class="fa-sharp fa-solid fa-circle-question"></i>
                                    Sản phẩm nào chăm sóc sức khỏe tự nhiên cho thú cưng?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Tôi nên làm gì khi thú cưng của tôi bị bệnh?</div>
                                <div class="accordion-body">Làm thế nào để kiểm tra sức khỏe của thú cưng tại nhà?</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFor" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    <i class="fa-sharp fa-solid fa-circle-question"></i>
                                    Sản phẩm nào chăm sóc sức khỏe tự nhiên cho thú cưng?
                                </button>
                            </h2>
                            <div id="flush-collapseFor" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFor" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Tôi nên làm gì khi thú cưng của tôi bị bệnh?</div>
                                <div class="accordion-body">Làm thế nào để kiểm tra sức khỏe của thú cưng tại nhà?</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="right-about">
                        <div class="title-about">
                            <span>Đáp</span>
                        </div>
                    </div>
                    <div class="box-main mt-4">
                        <div class="title-box">
                            Phương pháp và chiến lược chăm sóc sức khỏe động vật
                        </div>
                        <div class="body-box mt-4">
                            Dinh Dưỡng Chăm sóc:
                            Thức Ăn Chất Lượng Cao:
                            - Lựa chọn thức ăn chứa protein, chất béo, và các dạng vitamin và khoáng chất cần thiết.
                            - Xem xét thức ăn dành riêng cho động vật ở giai đoạn tuổi cụ thể.

                            Chất Bổ Sung Dinh Dưỡng:
                            - Sử dụng chất bổ sung Omega-3 cho da và bộ lông khỏe mạnh.
                            - Glucosamine và chondroitin có thể được thêm vào chế độ ăn để hỗ trợ sức khỏe của xương
                            và khớp.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <footer class="footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <a href="../layout/index.html" class="img-footer">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                    <div class="contact-footer mt-4">
                        <h3>Liên hệ</h3>
                        <p><strong>Trụ sở:</strong>Tầng 3, số 136 Kim Ngưu, Phường Thanh Nhàn, Quận Hai Bà Trưng, Hà
                            Nội
                        </p>
                        <p><strong>VPGD + Kho vận:</strong>Đường D1, KCN Yên Mỹ 2, TT Yên Mỹ, Hưng Yên
                            Tel: 0221 627 0234</p>
                        <p><strong>CN Miền Nam:</strong>B26 Ấp Thanh Hóa, X. Hố Nai 3, H.Trảng Bom, T.Đồng Nai Tel:
                            0251
                            0368 0954</p>
                        <p><strong>EMAIL:</strong>info@megavet.com.vn</p>
                    </div>
                </div>
                <div class="col-4 center-footer">
                    <h3 class="mb-3">cẩm nang phòng bệnh</h3>
                    <ul class="ul-footer">
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thú cảnh
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia cầm
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia súc
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho Heo - Lợn
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thủy hải sản
                            </a>
                        </li>
                    </ul>
                    <div class="network mt-5">
                        <h3 class="mb-3">Mạng xã hội</h3>
                        <div class="icon-network">
                            <a href="" class="icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h3>fanpage</h3>
                    <div class="embed-responsive mt-3">
                        <div class="fb-page" data-href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                            data-tabs="" data-width="500" data-small-header="false" data-adapt-container-width="true"
                            data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                                class="fb-xfbml-parse-ignore">
                                <a
                                    href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page">https://www.facebook.com/Megavet.vietnam/?ref=embed_page</a>
                            </blockquote>
                        </div>
                    </div>
                    <div class="input-group mt-5">
                        <p>Để lại email để nhận thông báo và khuyến mãi mới nhất từ chúng tôi</p>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control input-text" placeholder="Email của bạn...">
                            <button type="submit" class="button-input">
                                <i class="fa-regular fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bot-footer">
                <p>© 2023 Megavet - Designed by Vico Group</p>
            </div>
        </div>
    </footer>












    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0"
        nonce="PFzVBSAR"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>