<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/all.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>

<body>
    <header class="header py-4">
        <div class="container">
            <div class="row">
                <div class="col-3 left-header">
                    <a href="../layout/index.html">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                </div>
                <div class="col-6 center-header">
                    <div class="workink-hours">
                        <li><span>Giờ làm việc :Từ 08h00 đến 17h00 (trừ thứ Bảy và Chủ Nhật)</span></li>
                    </div>
                    <div class="contact-header">
                        <a href="">
                            <i class="fa-sharp fa-solid fa-phone"></i>
                            <span>Hotline: <strong>0221.627.0234</strong></span>
                        </a>
                        <a href="" style="margin-left: 10px;">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Email: <strong>info@megavet.com.vn</strong></span>
                        </a>
                    </div>
                </div>
                <div class="col-3 right-header">
                    <a href="">
                        <strong>Tư vấn trực tiếp</strong>
                        <i class="fa-solid fa-headset"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <div class="container">
            <ul class="ul-navbar">
                <li class="li-navbar">
                    <a href="./index.html">
                        Trang chủ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="../layout/introduce.html">
                        giới thiệu
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        sản phẩm
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="">
                                vaccine
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Vaccine sống nhược độc, đông khô
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Vaccine bất hoạt nhũ dầu
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Thuốc kháng sinh và thuốc bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dung dịch tiêm
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng bột hòa tan
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh dạng dung dịch uống
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc kháng sinh trộn thức ăn
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Thuốc trị cầu trùng, ký sinh trùng
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Kháng sinh thực vật và chiết xuất thực vật
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Bổ trợ
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng dung dịch
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Bổ trợ dạng bột
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ sung thức ăn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child">
                            <a href="">
                                Hạ sốt,giảm đau,xử lý môi trường
                            </a>
                        </li>
                        <li class="li-child">
                            <a href="">
                                dùng trong thuỷ sản
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Chế phẩm xử lý môi trường và chăm sóc ao nuôi
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-child border-0">
                            <a href="">
                                dùng trong gia súc nhai lại
                            </a>
                            <ul class="three-menu">
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm vắc xin
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm hỗ trợ sinh sản
                                    </a>
                                </li>
                                <li class="li-three">
                                    <a href="">
                                        Sản phẩm chăm sóc bầu vú
                                    </a>
                                </li>
                                <li class="li-three border-0">
                                    <a href="">
                                        Sản phẩm điều trị chân móng, bổ trợ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="./cam-nang-chan-nuoi.html">
                        cẩm nang chăn nuôi
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./news.html">
                        tin tức
                    </a>
                    <ul class="child-menu">
                        <li class="li-child">
                            <a href="./news.html">
                                Tin nội bộ
                            </a>
                        </li>
                        <li class="li-child border-0">
                            <a href="./index.html">
                                Tin tức thị trường
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="li-navbar">
                    <a href="">
                        tuyển dụng
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="./contact.html">
                        Liên hệ
                    </a>
                </li>
                <li class="li-navbar">
                    <a href="">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="banner">
        <div class="item-banner">
            <div class="img-banner">
                <img src="../img/banner2.jpg" alt="">
            </div>
            <div class="text-banner">
                <div class="first-text">Mang công nghệ quốc tế</div>
                <div class="last-text">Nâng tầm chăn nuôi Việt</div>
            </div>
        </div>
        <div class="item-banner">
            <div class="img-banner">
                <img src="../img/banner3.jpg" alt="">
            </div>
            <div class="text-banner">
                <div class="first-text">Mang công nghệ quốc tế</div>
                <div class="last-text">Nâng tầm chăn nuôi Việt</div>
            </div>
        </div>
        <div class="item-banner">
            <div class="img-banner">
                <img src="../img/banner4.jpg" alt="">
            </div>
            <div class="text-banner">
                <div class="first-text">Mang công nghệ quốc tế</div>
                <div class="last-text">Nâng tầm chăn nuôi Việt</div>
            </div>
        </div>
        <div class="item-banner">
            <div class="img-banner">
                <img src="../img/banner5.jpg" alt="">
            </div>
            <div class="text-banner">
                <div class="first-text">Mang công nghệ quốc tế</div>
                <div class="last-text">Nâng tầm chăn nuôi Việt</div>
            </div>
        </div>
        <div class="item-banner">
            <div class="img-banner">
                <img src="../img/Rectangle 3.jpg" alt="">
            </div>
            <div class="text-banner">
                <div class="first-text">Mang công nghệ quốc tế</div>
                <div class="last-text">Nâng tầm chăn nuôi Việt</div>
            </div>
        </div>
    </div>

    <div class="box-banner">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="card border-0">
                        <img src="../img/box1.png" alt="">
                        <div class="card-body">
                            <div class="count-number py-2">
                                <span class="counter">12</span>
                                +
                            </div>
                            <div class="count-sub">
                                Năm hình thành và phát triển
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0">
                        <img src="../img/box2.png" alt="">
                        <div class="card-body">
                            <div class="count-number py-2">
                                <span class="counter">100</span>
                                +
                            </div>
                            <div class="count-sub">
                                Chuyên gia, bác sĩ thú y hàng đầu
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0">
                        <img src="../img/box3.png" alt="">
                        <div class="card-body">
                            <div class="count-number py-2">
                                <span class="counter">300</span>
                                +
                            </div>
                            <div class="count-sub">
                                Sản phẩm thuốc thú y chất lượng
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-0">
                        <img src="../img/box4.png" alt="">
                        <div class="card-body">
                            <div class="count-number py-2">
                                <span class="counter">5000</span>
                                +
                            </div>
                            <div class="count-sub">
                                Hệ thống khách hàng
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about py-4">
        <div class="container">
            <div class="row">
                <div class="col-6 left-about" data-aos-duration="700" data-aos-delay="200" data-aos="fade-right">
                    <h3 class="py-3">về chúng tôi</h3>
                    <h4 class="pt-4">CÔNG TY CP THÚ Y MEGAVET VIỆT NAM </h4>
                    <p>là một thành viên của Tập đoàn IMEXCO VIỆT NAM, được thành lập ngày 02/11/2011 với định hướng
                        phát triển: phân phối các sản phẩm chăm sóc sức khỏe động vật theo các tiêu chuẩn quốc tế. Hơn
                        nữa, Megavet luôn chú trọng đầu tư các sản phẩm có khả năng thay thế kháng sinh trong chăn nuôi
                        như: Tinh dầu thảo dược, Probiotic...</p>
                    <a href="" class="btn btn-orange mt-4">Tìm hiểu thêm
                        <i class="fa-solid fa-circle-chevron-right "></i>
                    </a>
                </div>
                <div class="col-6 right-about" data-aos-duration="700" data-aos-delay="200" data-aos="fade-left">
                    <img src="../img/Rectangle 391.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="choose">
        <div class="container">
            <div class="title-choose pb-5">
                lý do lựa chọn chúng tôi
            </div>
            <div class="row">
                <div class="col-3" data-aos-duration="700" data-aos-delay="200" data-aos="fade-up">
                    <div class="card list-card">
                        <div class="img-card">
                            <img src="../img/box8.png" alt="">
                            <div class="any-cir"></div>
                        </div>
                        <div class="card-body">
                            <div class="count-title">
                                Làm chủ thị trường
                            </div>
                            <div class="count-sub">
                                Nâng cao chất lượng sản phẩm hoặc dịch vụ để tạo ra giá trị và ưu điểm cạnh tranh
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" data-aos-duration="700" data-aos-delay="400" data-aos="fade-up">
                    <div class="card list-card">
                        <div class="img-card">
                            <img src="../img/box5.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="count-title">
                                Hệ thống phân phối
                            </div>
                            <div class="count-sub">
                                Rộng khắp Việt Nam mang lại nhiều lợi ích cho doanh nghiệp của bạn
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" data-aos-duration="700" data-aos-delay="600" data-aos="fade-up">
                    <div class="card list-card">
                        <div class="img-card">
                            <img src="../img/box6.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="count-title">
                                Tôn trọng quyền và lợi
                            </div>
                            <div class="count-sub">
                                Đối tác trên cơ sở hợp tác cùng phát triển xây dựng một môi trường bền vững
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" data-aos-duration="700" data-aos-delay="800" data-aos="fade-up">
                    <div class="card list-card">
                        <div class="img-card">
                            <img src="../img/box7.png" alt="">
                        </div>
                        <div class="card-body">
                            <div class="count-title">
                                Nhân sự chất lượng cao
                            </div>
                            <div class="count-sub">
                                Hoạt động chuyên nghiệp, đào tạo liên tục, tạo môi trường tích cực và phát triển cá nhân
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hot-product">
        <div class="container">
            <div class="title-hot pd-5">
                sản phẩm nổi bật
            </div>
            <div class="menu-product-hot">
                <ul class="ul-product">
                    <li class="li-product">
                        <a href="">
                            <div class="all-product">
                                Tất cả
                            </div>
                        </a>
                    </li>
                    <li class="li-product">
                        <a href="">
                            Vaccine
                        </a>
                    </li>
                    <li class="li-product">
                        <a href="">
                            Thuốc kháng sinh và thuốc bổ trợ
                        </a>
                    </li>
                    <li class="li-product">
                        <a href="">
                            Sản phảm hạ sốt, giảm đau, xử lý môi trường
                        </a>
                    </li>
                    <li class="li-product">
                        <a href="">
                            Sản phẩm trâu bò
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-product">
                <div class="row mb-4">
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="200" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/1 1.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="400" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/1 2.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="600" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/1 3.png" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="800" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/1 1.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="900" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/2 1.png" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="1200" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/3 1.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="1400" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/3 2.png" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" data-aos-duration="700" data-aos-delay="1600" data-aos="fade-up">
                            <a href="" class="img-product">
                                <img src="../img/4 1.png" alt="">
                            </a>
                            <div class="card-body">
                                <a href="" class="cat mt-4">Danh mục sản phẩm</a>
                                <a href="" class="product-subject mt-2">Dung dịch uống BB Zyme men sống chịu kháng
                                    sinh</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-product pt-3 pb-5">
                    <a href="" class="btn btn-orange">Xem tất cả
                        <i class="fa-solid fa-circle-chevron-right "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="handbook">
        <div class="container">
            <div class="title-hot pd-5">
                cẩm nang phòng bệnh
            </div>
            <div class="row py-5">
                <div class="col-4">
                    <div class="card" data-aos-duration="700" data-aos-delay="200" data-aos="fade-up">
                        <a href="" class="img-handbook">
                            <img src="../img/Rectangle 33.png" alt="">
                        </a>
                        <div class="card-body">
                            <a href="" class="cat mt-4">Những lưu ý khi chăn nuôi gà mùa nóng</a>
                            <a href="" class="product-subject mt-3">Medici, Hệ sinh thái Công nghệ Chăm sóc Sức khỏe và
                                Bảo hiểm (Healthtech & Insurtech) được rót vốn bởi các Quỹ đầu tư hàng đầu trong khu
                                vực, và…</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" data-aos-duration="700" data-aos-delay="400" data-aos="fade-up">
                        <a href="" class="img-handbook">
                            <img src="../img/Rectangle 33 (1).png" alt="">
                        </a>
                        <div class="card-body">
                            <a href="" class="cat mt-4">Những lưu ý khi chăn nuôi gà mùa nóng</a>
                            <a href="" class="product-subject mt-3">Medici, Hệ sinh thái Công nghệ Chăm sóc Sức khỏe và
                                Bảo hiểm (Healthtech & Insurtech) được rót vốn bởi các Quỹ đầu tư hàng đầu trong khu
                                vực, và…</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" data-aos-duration="700" data-aos-delay="600" data-aos="fade-up">
                        <a href="" class="img-handbook">
                            <img src="../img/Rectangle 33 (2).png" alt="">
                        </a>
                        <div class="card-body">
                            <a href="" class="cat mt-4">Những lưu ý khi chăn nuôi gà mùa nóng</a>
                            <a href="" class="product-subject mt-3">Medici, Hệ sinh thái Công nghệ Chăm sóc Sức khỏe và
                                Bảo hiểm (Healthtech & Insurtech) được rót vốn bởi các Quỹ đầu tư hàng đầu trong khu
                                vực, và…</a>
                        </div>
                    </div>
                </div>
                <div class="button-product pt-5">
                    <a href="" class="btn btn-orange">Xem tất cả
                        <i class="fa-solid fa-circle-chevron-right "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="news pb-5">
        <div class="container">
            <div class="title-hot pd-5 mb-5">
                tin tức sự kiện
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card border-0" data-aos-duration="700" data-aos-delay="200" data-aos="fade-up">
                        <a class="img-card">
                            <img src="../img/Rectangle 12.png" alt="">
                        </a>
                        <div class="date">
                            <span class="day">20</span>
                            <span class="month-year">TH.12 - 2023</span>
                        </div>
                        <div class="card-body">
                            <a href="" class="cat">
                                Tin tức chung
                            </a>
                            <a href="" class="product-subject">
                                BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam Đông Hà –
                                tỉnh Quảng Trị
                            </a>
                            <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam Đông Hà -
                                tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa ban hành công văn số: 6307/UBND-CN ngày
                                23/12/2021 về việc phê ...</p>
                            <a href="" class="btn btn-orange">
                                Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 right-new">
                    <div class="row">
                        <div class="col-6" data-aos-duration="700" data-aos-delay="400" data-aos="fade-up">
                            <div class="left-img">
                                <a href="" class="img-right">
                                    <img src="../img/Rectangle 11.png" alt="">
                                </a>
                                <div class="date">
                                    <span class="day">20</span>
                                    <span class="month-year">TH.12 - 2023</span>
                                </div>
                                <div class="body">
                                    <a href="#" class="category mb-3">Tin tức thị trường</a>
                                    <div class="name">
                                        <a href="#">Hình ảnh dự án BGI Topaz Downtown tại Huế</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="left-img" data-aos-duration="700" data-aos-delay="600" data-aos="fade-up">
                                <a href="" class="img-right">
                                    <img src="../img/Rectangle 13.png" alt="">
                                </a>
                                <div class="date">
                                    <span class="day">20</span>
                                    <span class="month-year">TH.12 - 2023</span>
                                </div>
                                <div class="body">
                                    <a href="#" class="category mb-3">Tin tức thị trường</a>
                                    <div class="name">
                                        <a href="#">Hình ảnh dự án BGI Topaz Downtown tại Huế</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-new mt-4" data-aos-duration="700" data-aos-delay="800" data-aos="fade-up">
                        <div class="blog-slides">
                            <div class="item-post-img">
                                <img src="../img/Rectangle 14.png" alt="">
                                <div class="body">
                                    <div class="category mb-2">Tin tức chung</div>
                                    <div class="des"><a href="">
                                            BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam
                                            Đông
                                            Hà – tỉnh Quảng Trị
                                        </a>
                                    </div>
                                    <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam
                                        Đông
                                        Hà - tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa...</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-slides">
                            <div class="item-post-img">
                                <img src="../img/Rectangle 14.png" alt="">
                                <div class="body">
                                    <div class="category mb-2">Tin tức chung</div>
                                    <div class="des"><a href="">
                                            BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam
                                            Đông
                                            Hà – tỉnh Quảng Trị
                                        </a>
                                    </div>
                                    <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam
                                        Đông
                                        Hà - tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa...</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-slides">
                            <div class="item-post-img">
                                <img src="../img/Rectangle 14.png" alt="">
                                <div class="body">
                                    <div class="category mb-2">Tin tức chung</div>
                                    <div class="des"><a href="">
                                            BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam
                                            Đông
                                            Hà – tỉnh Quảng Trị
                                        </a>
                                    </div>
                                    <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam
                                        Đông
                                        Hà - tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa...</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-slides">
                            <div class="item-post-img">
                                <img src="../img/Rectangle 14.png" alt="">
                                <div class="body">
                                    <div class="category mb-2">Tin tức chung</div>
                                    <div class="des"><a href="">
                                            BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam
                                            Đông
                                            Hà – tỉnh Quảng Trị
                                        </a>
                                    </div>
                                    <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam
                                        Đông
                                        Hà - tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa...</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-slides">
                            <div class="item-post-img">
                                <img src="../img/Rectangle 14.png" alt="">
                                <div class="body">
                                    <div class="category mb-2">Tin tức chung</div>
                                    <div class="des"><a href="">
                                            BGI Group được phê duyệt chủ trương nghiên cứu đầu tư dự án: Khu đô thị Nam
                                            Đông
                                            Hà – tỉnh Quảng Trị
                                        </a>
                                    </div>
                                    <p>BGI Group được phê duyệt chủ trương nghiên cứu thực hiện Dự án: Khu đô thị Nam
                                        Đông
                                        Hà - tỉnh Quảng Trị Chủ tịch UBND tỉnh Quảng Trị vừa...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="partner py-5">
        <div class="container">
            <div class="title-hot pd-5 mb-5">
                đối tác của chúng tôi
            </div>
            <div class="box-partner">
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/MERRITT 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo NEOVANCE 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/NATUR KRAUTER 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo Innovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Logo Biovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Final_vmn_02 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/MERRITT 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo NEOVANCE 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/NATUR KRAUTER 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo Innovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Logo Biovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Final_vmn_02 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/MERRITT 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo NEOVANCE 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/NATUR KRAUTER 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/logo Innovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Logo Biovac 1.png" alt="">
                    </a>
                </div>
                <div class="box-body">
                    <a href="" class="img-partner">
                        <img src="../img/Final_vmn_02 1.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="client py-5">
        <div class="container">
            <div class="title-hot pd-5 mb-5">
                khách hàng nói về chúng tôi
            </div>
            <div class="box-feedback">
                <div class="media py-5">
                    <img src="../img/Rectangle 1320.png" alt="" class="col-3">
                    <div class="media-body">
                        <div class="fb-content">
                            “Tôi đã hợp tác cùng Magevet 12 năm qua, tôi cảm nhận sản phẩm công ty chất lượng ổn định và
                            đội ngũ nhân viên chu đáo nhiệt tình. Vì thế qua nhiều thăng trầm, đại lý tôi vẫn phát triển
                            giữ được sản lượng tốt. Cảm ơn công ty, chúc Magavet ngày càng phát triển"
                        </div>
                        <div class="classtify">
                            <h1>Ông Dien Nguyen Van</h1>
                            <p>Chủ đại lý khu vực Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="media py-5">
                    <img src="../img/Rectangle 1320.png" alt="" class="col-3">
                    <div class="media-body">
                        <div class="fb-content">
                            “Tôi đã hợp tác cùng Magevet 12 năm qua, tôi cảm nhận sản phẩm công ty chất lượng ổn định và
                            đội ngũ nhân viên chu đáo nhiệt tình. Vì thế qua nhiều thăng trầm, đại lý tôi vẫn phát triển
                            giữ được sản lượng tốt. Cảm ơn công ty, chúc Magavet ngày càng phát triển"
                        </div>
                        <div class="classtify">
                            <h1>Ông Dien Nguyen Van</h1>
                            <p>Chủ đại lý khu vực Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="media py-5">
                    <img src="../img/Rectangle 1320.png" alt="" class="col-3">
                    <div class="media-body">
                        <div class="fb-content">
                            “Tôi đã hợp tác cùng Magevet 12 năm qua, tôi cảm nhận sản phẩm công ty chất lượng ổn định và
                            đội ngũ nhân viên chu đáo nhiệt tình. Vì thế qua nhiều thăng trầm, đại lý tôi vẫn phát triển
                            giữ được sản lượng tốt. Cảm ơn công ty, chúc Magavet ngày càng phát triển"
                        </div>
                        <div class="classtify">
                            <h1>Ông Dien Nguyen Van</h1>
                            <p>Chủ đại lý khu vực Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="media py-5">
                    <img src="../img/Rectangle 1320.png" alt="" class="col-3">
                    <div class="media-body">
                        <div class="fb-content">
                            “Tôi đã hợp tác cùng Magevet 12 năm qua, tôi cảm nhận sản phẩm công ty chất lượng ổn định và
                            đội ngũ nhân viên chu đáo nhiệt tình. Vì thế qua nhiều thăng trầm, đại lý tôi vẫn phát triển
                            giữ được sản lượng tốt. Cảm ơn công ty, chúc Magavet ngày càng phát triển"
                        </div>
                        <div class="classtify">
                            <h1>Ông Dien Nguyen Van</h1>
                            <p>Chủ đại lý khu vực Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="media py-5">
                    <img src="../img/Rectangle 1320.png" alt="" class="col-3">
                    <div class="media-body">
                        <div class="fb-content">
                            “Tôi đã hợp tác cùng Magevet 12 năm qua, tôi cảm nhận sản phẩm công ty chất lượng ổn định và
                            đội ngũ nhân viên chu đáo nhiệt tình. Vì thế qua nhiều thăng trầm, đại lý tôi vẫn phát triển
                            giữ được sản lượng tốt. Cảm ơn công ty, chúc Magavet ngày càng phát triển"
                        </div>
                        <div class="classtify">
                            <h1>Ông Dien Nguyen Van</h1>
                            <p>Chủ đại lý khu vực Hai Bà Trưng, Hà Nội</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <a href="../layout/index.html" class="img-footer">
                        <img src="../img/logo (2).png" alt="">
                    </a>
                    <div class="contact-footer mt-4">
                        <h3>Liên hệ</h3>
                        <p><strong>Trụ sở:</strong>Tầng 3, số 136 Kim Ngưu, Phường Thanh Nhàn, Quận Hai Bà Trưng, Hà Nội
                        </p>
                        <p><strong>VPGD + Kho vận:</strong>Đường D1, KCN Yên Mỹ 2, TT Yên Mỹ, Hưng Yên
                            Tel: 0221 627 0234</p>
                        <p><strong>CN Miền Nam:</strong>B26 Ấp Thanh Hóa, X. Hố Nai 3, H.Trảng Bom, T.Đồng Nai Tel: 0251
                            0368 0954</p>
                        <p><strong>EMAIL:</strong>info@megavet.com.vn</p>
                    </div>
                </div>
                <div class="col-4 center-footer">
                    <h3 class="mb-3">cẩm nang phòng bệnh</h3>
                    <ul class="ul-footer">
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thú cảnh
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia cầm
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho gia súc
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho Heo - Lợn
                            </a>
                        </li>
                        <li class="li-footer">
                            <a href="">
                                Cẩm nang cho thủy hải sản
                            </a>
                        </li>
                    </ul>
                    <div class="network mt-5">
                        <h3 class="mb-3">Mạng xã hội</h3>
                        <div class="icon-network">
                            <a href="" class="icon">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="icon">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h3>fanpage</h3>
                    <div class="embed-responsive mt-3">
                        <div class="fb-page" data-href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                            data-tabs="" data-width="500" data-small-header="false" data-adapt-container-width="true"
                            data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/Megavet.vietnam/?ref=embed_page"
                                class="fb-xfbml-parse-ignore">
                                <a
                                    href="https://www.facebook.com/Megavet.vietnam/?ref=embed_page">https://www.facebook.com/Megavet.vietnam/?ref=embed_page</a>
                            </blockquote>
                        </div>
                    </div>
                    <div class="input-group mt-5">
                        <p>Để lại email để nhận thông báo và khuyến mãi mới nhất từ chúng tôi</p>
                        <div class="input-group mt-2">
                            <input type="text" class="form-control input-text" placeholder="Email của bạn...">
                            <button type="submit" class="button-input">
                                <i class="fa-regular fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bot-footer">
                <p>© 2023 Megavet - Designed by Vico Group</p>
            </div>
        </div>
    </footer>












    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/jquery.countup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0"
        nonce="PFzVBSAR"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        AOS.init();
        $('.counter').countUp({
            'time': 2000,
            'delay': 10
        });
        $('.banner').slick({
            dots: false,
            infinite: true,
            speed: 300,
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
        $('.top-new').slick({
            dots: false,
            infinite: true,
            speed: 300,
            arrows: true,
            prevArrow: "<button type='button' class='slick-prev pull-left'><i class='fa-sharp regular fa-arrow-left' aria-hidden='true'></i></button>",
            nextArrow: "<button type='button' class='slick-next pull-right'><i class='fa-sharp regular fa-arrow-right' aria-hidden='true'></i></button>",
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
        $('.box-partner').slick({
            dots: false,
            infinite: true,
            speed: 1000,
            arrows: true,
            prevArrow: "<button type='button' class='slick-box pull-left'><i class='fa-sharp regular fa-arrow-left' aria-hidden='true'></i></button>",
            nextArrow: "<button type='button' class='slick-box-next pull-right'><i class='fa-sharp regular fa-arrow-right' aria-hidden='true'></i></button>",
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            dots: false,
        });
        $('.box-feedback').slick({
            dots: false,
            infinite: true,
            speed: 800,
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
        });
    </script>
</body>

</html>